html,body {
    height: 115%;
}

.col-md-6 {
    height: 115%;
}


/* menu font */
h2 {
	font-size: x-large;
    padding: 0.3em 0em 0.5em 0em;
}

/* concert-name */

h3 {
	font-size: large;
	font-weight: bolder;
	letter-spacing: 0.1em;
	padding: 0 0em 1em 0em;
}

/* footer font */

h5 {
    font-size: medium;
	color: #ffffff;
	letter-spacing: 0.7;
	padding: 1em 1em 0em 1em;
}

/* photo copyright */

h7 {
    font-size: medium;
    padding: 0em 0em 1em 0em;
}

p {
    padding: 0em;
}

td {
    padding: 0em !important;
}


/* wrapping text to be kept together */

span.avoidwrap {
    display: inline-block;
}

/* Nav */

.navbar {
	opacity: 0.9;
    min-height: 60px;
	overflow-wrap: break-word;
	text-align: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* HOVER elements */

a {
    color: purple;
    font-weight: bolder;
}

a:hover, a:active, a:focus {
    color: grey;
    text-transform: lowercase;
    text-decoration: none;
}

a.email {
    color: #000;
}

a.form-link {
    color: #fff;
}

a.footer-link {
    color: #fff;
}

a:hover.form-link, a:active.form-link, a:focus.form-link {
    color: #fff;
    text-transform: lowercase;
    text-decoration: none;
}

/* sticky-sidebar */

.sticky-item {
    position: -webkit-sticky;
    position: sticky;
    top: 8em;
}

/* Icons */

.glyph-icon {
	width: 32px;
	height: 32px;
}

.icon {
    background-color: #4e73f6;
}

#logo {
	width: 2em;
	height: auto;
    padding-top: 0em !important;
}

/* row style */

.top-row {
	padding-top: 100px;
}

.bottom-object {
    padding-bottom: 10em;
}


/* gallery*/ 

img {
    padding-top: 0.5em;
}

#home-img {
    padding: 0em;
}

#photo-box {
    margin-bottom: 1em;
}

/* Index */

#patrons {
    padding: 2em 1em 1em 1em;
}

#about {
	padding-bottom: 3em;
}

/* Concerts */

.main-content {
	padding: 0em 2.5em 0em 2.5em;
}


.flyer-img {
    width: 300px;
    height: auto;
    padding: 1em 0em 1em 0em;
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.5);
}


/* footer */

.footer {
	background-color: #212529;
    opacity: 0.8;
    padding: 0;
}

/* Images */

/* .jumbotron {
	background-image: url(https://www.mediafire.com/convkey/71a3/3yy7rjawvroe9x06g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 60px; same as navbar height
    margin-bottom: 0px !important;
}

*/


#banner-logo {
    height: 200px;
    margin-top: 3em;
}

/* Programme Details */

table {
    margin-bottom: 0.5em;
}

td {
	vertical-align: top;
    padding: 0 0.5em 0 0.5em;
	padding-right: 1em;
}

li {
	list-style: none;
}

/* Search Bar */

#search {
    padding: 1em;
}

#search-bar {
    text-align: center;
    padding-bottom: 2em;
}

a.search-link {
    color: #666666;
}


/* BLOG */

ul {
    list-style-type: none;
    padding: 0;
}

.tumblr-title {
    font-size: x-large;
    padding: 0.5em 0.5em 0 0.3em;
    text-decoration: underline;
}

.tumblr-date {
    font-style: italic;
    font-size: 80%;
    padding: 0em 0em 0.5em 0.6em;
}

.tumblr-text-post {
    margin-bottom: 5%;
}

/* videos */

.yt-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}